<h1>On Init</h1>
<span (a2OnInit)="onInit = 'set by onInit'">{{onInit}}</span>
<hr>

<h1>Copy & cut</h1>

<input value="Copy me!" #copyRef>
<button (click)="copyResult = copy(copyRef)">Copy</button>
<button *ngIf="copyResult && copyResult.success"
        (click)="copyResult.clearSelection()">Clear selecton
</button> <br>
<span>copyResult: {{copyResult | json}}</span> <br>

<input value="Cut me!" #cutRef>
<button (click)="cutResult = cut(cutRef)">Cut</button> <br>
<span>cutResult: {{cutResult | json}}</span> <br>

<button (click)="copyTextResult = copy('Some text')">Copy some text</button>
<br>
<span>copyTextResult: {{copyTextResult | json}}</span> <br>

<h1>Watcher</h1>
<input [(ngModel)]="watchData" value="Write here" [a2Watch]="watchData"
       (a2Change)="changeEvent = $event"> <br>
changeEvent: {{changeEvent | json}}

<h1>Modal</h1>
<div a2modalHolder></div>
<button (click)="showModal();">Show modal</button> <br>
<span>modalSuccessResult: {{modalSuccessResult | json}}</span> <br>
<span>modalSuccessError: {{modalSuccessError | json}}</span> <br>
<span>modalDone: {{modalDone | json}}</span> <br>

<h1>Cross validate</h1>
<form #f="ngForm">
    Local input: <input [(ngModel)]="model_one" name="input" required>

    <component-with-input-inside></component-with-input-inside>

    f.valid: {{f.valid}}
</form>

<h1>Popover</h1>

<div style="width: 300px; height: 100px; border: dotted; display: flex; justify-content: center; align-items: center"
     #p="popover" [a2Popover]="{ type: ComponentInsidePopoverComponent, provides: {provide: 42, useValue: 'answer'}, bs: {placement: 'top'} }">
    Show popover with component inside.
</div>

<a (click)="p.toggle()">Toggle Popover</a>
<a (click)="p.show()">Show Popover</a>
<a (click)="p.hide()">Hide Popover</a>