<section class="container grid-960">

    <h1>On Init</h1>
    <span (a2OnInit)="onInit = 'set by onInit'">{{onInit}}</span>
    <hr>

</section>

<section class="container grid-960">

    <h1>Copy & cut</h1>

    <input value="Copy me!" #copyRef>
    <button (click)="copyResult = copy(copyRef)">Copy</button>
    <button *ngIf="copyResult && copyResult.success"
            (click)="copyResult.clearSelection()">Clear selection
    </button>
    <br>
    <span>copyResult: {{copyResult | json}}</span> <br>


    <input value="Cut me!" #cutRef>
    <button (click)="cutResult = cut(cutRef)">Cut</button>
    <br>
    <span>cutResult: {{cutResult | json}}</span> <br>

    <button (click)="copyTextResult = copy('Some text')">Copy some text</button>
    <br>
    <span>copyTextResult: {{copyTextResult | json}}</span> <br>
    <hr>
</section>

<section class="container grid-960">
    <h1>Watcher</h1>
    <input [(ngModel)]="watchData" value="Write here" [a2Watch]="watchData"
           (a2Change)="changeEvent = $event"> <br>
    changeEvent: {{changeEvent | json}}
    <hr>
</section>

<section class="container grid-960">
    <h1>Modal</h1>
    <div a2modalHolder></div>
    <button (click)="showModal();">Show modal</button>
    <br>
    <span>modalSuccessResult: {{modalSuccessResult | json}}</span> <br>
    <span>modalSuccessError: {{modalSuccessError | json}}</span> <br>
    <span>modalDone: {{modalDone | json}}</span> <br>
    <hr>
</section>

<section class="container grid-960">
    <h1>Cross validate</h1>
    <form #f="ngForm">
        Local input: <input [(ngModel)]="model_one" name="input" required>

        <component-with-input-inside></component-with-input-inside>

        f.valid: {{f.valid}}
    </form>
    <hr>
</section>


<section class="container grid-960">
    <h1>Popover</h1>

    <div style="width: 300px; height: 100px; border: dotted; display: flex; justify-content: center; align-items: center"
         (click)="p.toggle();"
         #p="popover"
         [a2Popover]="{ type: componentInsidePopoverComponent, provides: {provide: 42, useValue: 'answer'}, bs: { placement: 'top', trigger: ''} }">
        Show popover with component inside.
        Click to toggle
    </div>

    <a (click)="p.toggle()">Toggle Popover</a>
    <a (click)="p.show()">Show Popover</a>
    <a (click)="p.destroy()">Hide Popover</a>
    <hr>
</section>

<section class="container grid-960" (a2OnInit)="dropdownEvents = []">

    <h1>Dropdown</h1>

    <span class="dropdown"
          (show.bs.dropdown)="dropdownEvents.push('show')"
          (shown.bs.dropdown)="dropdownEvents.push('shown')"
          (hide.bs.dropdown)="dropdownEvents.push('hide')"
          (hidden.bs.dropdown)="dropdownEvents.push('hidden')">

        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
           role="button" aria-haspopup="true" aria-expanded="false" a2Dropdown
           #d> Dropdown
            <span class="caret"></span> </a>
        <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
    </span>

    <div style="overflow-y: auto; height: 200px">

        <div class="alert alert-info" *ngFor="let i of dropdownEvents">
            <a class="close" aria-label="close"
               (click)="dropdownEvents.splice(dropdownEvents.indexOf(i), 1)">&times;</a>
            <strong>Event!</strong> {{ i }}
        </div>

    </div>

</section>

<section class="container grid-960">

    <h1>Upload</h1>

    <div
            style="width: 300px; height: 100px; display: flex; justify-content: center; align-items: center"
            class="dropzone"
            (a2GlobalFileIn)="globalFileIn = $event"
            (a2FileIn)="fileIn = ($event);"
            [class.dropzone-global]="globalFileIn && !fileIn"
            [class.dropzone-local]="fileIn">

        <div class="sqbrackets"
             style="display: flex; justify-content: center; align-items: center"
             [class.sqbrackets-global]="globalFileIn && !fileIn"
             [class.sqbrackets-local]="fileIn">

            <div> Drag File Here!
                <span *ngIf="!globalFileIn && !fileIn"> ( Outside ) </span>
                <span *ngIf="globalFileIn && !fileIn"> ( Global ) </span>
                <span *ngIf="fileIn"> ( Local ) </span>
            </div>

        </div>

    </div>

</section>